<!-- <ul class="nav-main">
  <li><a href="/blog">Blog</a></li>
  <li><a href="/contact">Contact</a></li>
</ul> -->
<nav id="nav">
  <div class="nav-center">
    <div class="nav-header">
      <a class="logo" href="/"><i class='fa fa-laptop' style="color: white;font-size: 2.2rem;"></i>
      </a>
      <button class="nav-toggle" href="#"><i class="fa-solid fa-bars" style="font-size: 2rem"></i></button>
    </div>
    <ul class="links">
      <li><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for page in sorted_pages | sort:"order" %} {% if page.title %}
      <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</nav>