:root {
  --dark: #444;
  --primary: #ddd;
  // --light: #eee;
  --light: #ddd;
  --light-shadow: rgb(255, 99, 71);
}

html {
  font-size: 18px;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
h1 {
  font-size: 2.5rem;
}
h1 {
  font-size: 2rem;
}
.logo,
.fa-solid {
  font-size: 1.6rem;
}

ul.show-links {
  height: 16rem;
  width: 100%;
}
a {
  cursor: pointer;
  color: var(--dark);
}

footer {
  text-align: center;
}

/**** Card Styles ******/
.card {
  padding: 2rem;
  margin: 3rem 0;
}
.card-title h3 {
  text-decoration: underline;
}
article#first-article {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
/**** Card Styles ******/

#post {
  padding: 1rem 5rem;
}

.highlight {
  background-color: #444;
  color: #ddd;
  width: 600px;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #444;
}
